.container
  .header
    %h1 Buddy Magsipoc

  .content
    .contacts

      .matches
        %h2 Matches
        .contact
          .name David
          .playing
            .game Diablo
            .game Starcraft 2
            .game Heroes of the Storm

        .contact
          .name Clarissa
          .playing
            .game Diablo
            .game Starcraft 2

        .contact
          .name Neil
          .playing
            .game CounterStrike

        .contact
          .name Rizza
          .playing
            .game Diablo 3
            .game Starcraft 2
            .game Counterstrike

      .others
        %h2 Others
        .contact
          .name Wesley
          .playing
            .game Dota 2
        .contact
          .name Allan
          .playing
            .game TitanFall

    .games
      %h2 Select Games
      .selection
        %select
          %option CounterStrike
          %option Diablo 3
          %option Heroes of the Storm
          %option Starcraft 2

        %button Add
      .game
        .name CounterStrike
        .name Diablo 3
        .name Heroes of the Storm
        .name Starcraft 2
