.container
  .header
    %h1 Buddy Magsipoc

  .content
    .contacts

      .contact
        .name David
        .playing
          .game Diablo
          .game Starcraft 2
          .game Heroes of the Storm

      .contact
        .name Clarissa
        .playing
          .game Diablo
          .game Starcraft 2

      .contact
        .name Neil
        .playing
          .game CounterStrike

      .contact
        .name Rizza
        .playing
          .game Diablo 3
          .game Starcraft 2
          .game Counterstrike

    .games
      .game
        .name CounterStrike
        .name Diablo 3
        .name Heroes of the Storm
        .name Starcraft 2
