.container
  .header
    %h1 PlayerOne

  .content
    .contacts

      .matches
        %h2 Matches
        .contact
          .name PlayerTwo
          .playing
            .game Diablo
            .game Starcraft 2
            .game Heroes of the Storm

        .contact
          .name PlayerThree
          .playing
            .game Diablo
            .game Starcraft 2

        .contact
          .name PlayerFour
          .playing
            .game CounterStrike

        .contact
          .name PlayerFive
          .playing
            .game Diablo 3
            .game Starcraft 2
            .game Counterstrike

      .others
        %h2 Others
        .contact
          .name PlayerSix
          .playing
            .game Dota 2
        .contact
          .name PlayerSeven
          .playing
            .game TitanFall

    .games
      %h2 Select Games
      .selection
        = select_tag :games, options_for_select( Game.all.collect{|g| [g.name, g.id]} )
        %button Add
